# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
#pystan==2.19.1.1
prophet==1.1.1
numpy==1.23.5
#protobuf~=3.19.0
streamlit==1.11.0
pandas==1.5.2
plotly
